*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "gilroy";
    /* color: rgb(187, 187, 186); */
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    padding: 90px;
    width: 100%;
    background-color: rgba(168, 134, 184, 0);
}
h3{
    font-size: 40px;
    margin-bottom: 20px;
    /* text-decoration: underline; */
}
span{
    border-bottom: 2px solid rgb(193, 38, 38);
    
}
#inputtag{
    height: 80px;
    /* border: 10px; */
    border-radius: 10px;
    margin-bottom: 10px;
    width: 400px;
    background-color: rgb(50, 76, 129);
}
#inputtag input{
    height: 100%;
    width: 80%;
    border-radius: 15px;
    outline: none;
    /* outline: 0; */
    padding: 10px 40px;
    font-size: 15px;
    /* color: rgba(255, 36, 36, 0.646); */
    font-weight: 600;
    background-color: transparent;
    border: none;
}
#copy{
    /* z-index: 9; */
    font-size: 30px;
    color: #C1C114;
}
button{
    height: 50px;
    width: 250px;
    border-radius: 10px;
    /* gap: 20px; */
    font-size: 20px;
    background-color: #008551;
    /* font-size: 15px; */

}
button i{
    color: #f89131;
    font-size: 25px;
}